<h1>About</h1>

<p>This Contact Manager was built to simplify the way you keep track of important people in your life—whether they are friends, colleagues, or clients. Unlike traditional contact lists, this app allows you to organize contacts with tags, search with ease, and even integrate with external systems through our API</p>
  

<p>Created by <%= link_to "CF", "https://cflinchbaugh.github.io/portfolio/", target: "_blank", rel: "noopener noreferrer" %> with an emphasis on critical functionality and the most critical aspects of the majority of applications, everything from authentication, to user input, to testing.</p>

<p><%= link_to "Github Repo", "https://github.com/cflinchbaugh/ruby-contact-list/", target: "_blank", rel: "noopener noreferrer" %></p>
