<% content_for :title, "Contacts" %>

<h1>Contacts</h1>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.last_name + ", " + contact.first_name, contact %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "Add New Contact", new_contact_path, class:"btn btn-primary"%>
