<p>Welcome <%= @email %>!</p>

<p>Thank you for signing up! To complete your registration, please click the link below to verify your email address:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Please note: It may take a few moments to load when you first visit. We appreciate your patience as the app finishes a cup of coffee and "wakes up" after a period of inactivity. We've all been there, I'm sure.</p>
