<% flash.each do |type, message| %>
  <% bootstrap_class = case type.to_sym
       when :success then "alert-success"
       when :error then "alert-danger"
       when :alert then "alert-warning"
       else "alert-secondary"
     end
  %>
  <div class="alert <%= bootstrap_class %>" role="alert">
    <%= message %>
  </div>
<% end %>
